<%= form_for @article, :html => { :class => "form-horizontal article" } do |f| %>

    <% if @article.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <%if @original.nil? %>
    <div class="control-group">
      <%= f.label :locale, :class => 'control-label' %>
      <div class="controls">
        <%= @article[:locale] %>
        <%= f.hidden_field :locale %>
      </div>
    </div>
  <%else%>
    <div class="control-group">
      <%= f.label 'Original title', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :value => @original[:title], :disabled => true, :class => 'form-control' %>
      </div>
      <%= error_span(@original[:title]) %>
    </div>

    <div class="control-group">
      <%= f.label 'Original content', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :content, :value => @original[:content], :disabled => true, :class => 'form-control' %>
      </div>
      <%= error_span(@original[:content]) %>
    </div>

    <div class="field">
      <%= f.hidden_field :original_id %>
    </div>

    <div class="control-group">
      <%= f.label 'New locale', :class => 'control-label' %>
      <div class="controls">
        <%= f.select(:locale, options_for_select(['de'])) %>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@article[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :content, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :content, :class => 'form-control' %>
    </div>
    <%= error_span(@article[:content]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            articles_path, :class => 'btn btn-default' %>

<% end %>
