<%- model_class = Article -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<section>
  <%= render @articles.first %>
  <%= render @articles[1..-1], :locals => { :preview => true } %>
</section>

<% if can? :create, Article %>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_article_path,
              :class => 'btn btn-primary' %>
<% end %>

<%= will_paginate @articles, renderer: BootstrapPagination::Rails %>

