<div class="page-header">
  <h1><%=t '.title', :default => 'About' %></h1>
</div>

<h3><%=t '.who_heading', :default => 'Who are we?' %></h3>
<p><%=t '.who_content', :default => '' %></p>

<h3><%=t '.what_heading', :default => 'What do we want?' %></h3>
<p><%=t '.what_content', :default => '' %></p>

<h3><%=t '.bp_heading', :default => 'What is BluePanel?' %></h3>
<p><%=t '.bp_content', :default => '' %></p>

<h2><%=t '.contact', :default => 'Contact' %></h2>
<p>Mail: info[AT]bluepanel[DOT]org</p>
<p>IRC: <%= link_to '#bluepanel', 'irc://irc.freenode.net/#bluepanel' %></p>

<div class="adminList">
  <h3><%=t '.admins', :default => 'Administrators' %></h3>
  <% @admins.each do |admin| %>
      <div class="admin">
        <%= admin.name %>
      </div>
  <% end %>
</div>

<div class="modList">
  <h3><%=t '.global_mods', :default => 'Global Moderators' %></h3>
  <% @mods.each do |mod| %>
      <div class="mod">
        <%= mod.name %>
      </div>
  <% end %>
</div>

<div class="developerList">
  <h3><%=t '.developers', :default => 'Developers' %></h3>
  <% @team.each do |member| %>
    <div class="developer">
      <%= member.name %>
    </div>
  <% end %>
</div>
