<div class="page-header">
  <h1><%=t '.title', :default => 'About' %></h1>
</div>

<div class="adminList">
  <h3><%=t '.admins', :default => 'Administrators' %></h3>
  <% @admins.each do |admin| %>
      <div class="admin">
        <%= admin.name %>
      </div>
  <% end %>
</div>

<div class="modList">
  <h3><%=t '.global_mods', :default => 'Global Moderators' %></h3>
  <% @mods.each do |mod| %>
      <div class="mod">
        <%= mod.name %>
      </div>
  <% end %>
</div>

<div class="developerList">
  <h3><%=t '.developers', :default => 'Developers' %></h3>
  <% @team.each do |member| %>
    <div class="developer">
      <%= member.name %>
    </div>
  <% end %>
</div>

<h2><%=t '.contact', :default => 'Contact' %></h2>
<p>Mail: <%= mail_to 'info@bluepanel.org', 'info[AT]bluepanel[DOT].org' %>
<p>IRC: <%= link_to '#bluepanel', 'irc://irc.gentoo.org/gentoo' %></p>
